.occurrence-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 350px;
}

.occurrence {
  width: 50px;
  text-align: center;
  opacity: 0;
  animation-name: var(--occurrence-animation-name);
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-delay: 0ms;
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes fade-out {
  from { opacity: 1 }
  to { opacity: 0 }
}

.occurrence:nth-of-type(9n - 8) { --animation-delay-multiplier: 0.93; }
.occurrence:nth-of-type(9n - 7) { --animation-delay-multiplier: 0.88; }
.occurrence:nth-of-type(9n - 6) { --animation-delay-multiplier: 0.26; }
.occurrence:nth-of-type(9n - 5) { --animation-delay-multiplier: 0.85; }
.occurrence:nth-of-type(9n - 4) { --animation-delay-multiplier: 0.56; }
.occurrence:nth-of-type(9n - 3) { --animation-delay-multiplier: 0.93; }
.occurrence:nth-of-type(9n - 2) { --animation-delay-multiplier: 0.19; }
.occurrence:nth-of-type(9n - 1) { --animation-delay-multiplier: 0.37; }
.occurrence:nth-of-type(9n) { --animation-delay-multiplier: 0.26; }
