.habit-container {
  position: relative;
  width: 350px;
}

.habit {
  position: absolute;
  height: 50px;
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.name {
  padding-left: var(--left-margin);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  white-space: nowrap;
  overflow: hidden;
  min-width: 0;
  margin-right: 5px;
}

.streak {
  padding-right: var(--right-margin);
}

.selector {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: rgb(0, 255, 0);
  left: calc(var(--left-margin) - 24px);
  z-index: 2;
}

form {
  position: absolute;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  margin-left: calc(var(--left-margin) - 8px);
  margin-right: calc(var(--right-margin) - 8px);
  width: calc(100% - var(--left-margin) - var(--right-margin) + 16px);
  padding: 8px;
  border: 0;
}

.horizontal-icons-container {
  min-width: fit-content;
}

.vertical-icons-container {
  width: 50px;
  position: absolute;
  right: -50px;
}

.icon {
  height: 50px;
  width: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}