.icon {
  margin: 8px;
  height: 34px;
  min-width: 34px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  background-color: transparent;
  border: 0;
}

.icon.hidden {
  display: none;
}
