@use 'theme';

*,
*:before,
*:after {
  user-select: none;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body::-webkit-scrollbar{
  display: none;
}

.draggable-area {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  -webkit-app-region: drag;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  outline: none;
  text-align: left;
}

input {
  color: inherit;
  font: inherit;
  margin: 0;
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: none;
}

body {
  background-color: theme.$background-main;
}
