@use 'fonts';
@use 'theme';
@use 'variables';

@mixin launch-animation {
  opacity: 0;
  animation-name: launch-animation;
  $delay: 200ms;
  animation-delay: $delay;
  animation-duration: variables.$launch-animation-time - $delay;
  animation-timing-function: cubic-bezier(.36,.07,.88,.88);
  animation-fill-mode: forwards;
}

.days {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  transition: opacity 600ms;

  .day {
    @include fonts.day;
    width: 50px;
    text-align: center;
    color: theme.$primary;

    &.complete {
      color: theme.$secondary;
    }

    .launch-animation & {
      @include launch-animation;
    }
  }
}
