@use 'fonts';
@use 'theme';

.days {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  transition: opacity 600ms;

  &-day {
    @include fonts.main-text-font;
    font-style: normal;
    font-size: 9px;

    width: 50px;
    text-align: center;
    color: theme.$foreground;

    &.complete {
      color: theme.$secondary;
    }
  }
}
