@mixin main {
  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

@mixin main-bold {
  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
  font-weight: 700;
}

@mixin sub {
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

@mixin day {
  font-family: 'DM Sans', sans-serif;
  font-size: 10px;
  font-weight: 400;
}

@mixin date {
  font-family: 'Averia Libre', cursive;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}
