@font-face {
  font-family: 'Averia Libre';
  font-weight: 700;
  font-style: italic;
  src: url(../assets/fonts/AveriaLibre-BoldItalic.ttf);
}

@font-face {
  font-family: 'DM Sans';
  font-weight: 400;
  font-style: normal;
  src: url(../assets/fonts/DMSans-Regular.ttf);
}

@font-face {
  font-family: 'DM Sans';
  font-weight: 500;
  font-style: normal;
  src: url(../assets/fonts/DMSans-Medium.ttf);
}

@font-face {
  font-family: 'DM Mono';
  font-weight: 400;
  font-style: normal;
  src: url(../assets/fonts/DMMono-Regular.ttf);
}
