/* Averia Libre */

@font-face {
  font-family: 'Averia Libre';
  font-weight: 400;
  font-style: normal;
  src: url(../assets/fonts/AveriaLibre-Regular.ttf);
}

@font-face {
  font-family: 'Averia Libre';
  font-weight: 400;
  font-style: italic;
  src: url(../assets/fonts/AveriaLibre-Italic.ttf);
}

@font-face {
  font-family: 'Averia Libre';
  font-weight: 700;
  font-style: normal;
  src: url(../assets/fonts/AveriaLibre-Bold.ttf);
}

@font-face {
  font-family: 'Averia Libre';
  font-weight: 700;
  font-style: italic;
  src: url(../assets/fonts/AveriaLibre-BoldItalic.ttf);
}