@use 'utils';
@use 'variables';
@use 'theme';

@mixin center-horizontally {
  width: 350px;
  left: calc(50vw - 175px);
}

$transition-distance: calc((50vh - 25px) - 50px - variables.$layout-vertical-margin);

@keyframes scroll-to-list-view {
  0% {
    top: calc(
      variables.$layout-vertical-margin
      - var(--occurrence-height, 0px)
      + 50px
      + $transition-distance
      + var(--transition-scroll-distance, 0px)
    );
  }
  100% {
    top: calc(variables.$layout-vertical-margin - var(--occurrence-height, 0px) + 50px);
  }
}

@keyframes scroll-to-occurrence-view {
  0% {
    top: calc(-1 * $transition-distance - var(--transition-scroll-distance, 0px));
  }
  100% {
    top: 0px;
  }
}

.layout {
  position: relative;
  contain: paint; // instead of overflow hidden, allows sticky child

  min-height: 100vh;

  &.list-view {
    height: calc(100px + var(--list-height, 0px) + 2 * variables.$layout-vertical-margin);
  }

  &.occurrence-view {
    height: calc(var(--occurrence-height, 0px) + 25px + 50vh);
  }

  &.frozen {
    height: 100vh;
  }

  .freeze-container {
    position: relative;

    @include utils.nested-parent-state('.layout', '.frozen') {
      top: calc(-1 * var(--freeze-scroll-distance, 0px));
    }
  }

  .scroll-container {
    position: relative;
    will-change: top;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.0);
    animation-fill-mode: forwards;

    @include utils.nested-parent-state('.layout', '.initial-render') {
      animation-duration: 0s;
    }

    @include utils.nested-parent-state('.layout', '.list-view') {
      animation-name: scroll-to-list-view;
    }

    @include utils.nested-parent-state('.layout', '.occurrence-view') {
      animation-name: scroll-to-occurrence-view;
    }
  }

  .sticky-container {
    position: sticky;
    z-index: 2;
    height: var(--occurrence-height, 0px);
    top: calc(variables.$layout-vertical-margin - var(--occurrence-height, 0px) + 50px);

    .occurrences-layout, .days-layout {
      position: absolute;
      z-index: 3;
      @include center-horizontally;
    }

    .mask {
      position: absolute;
      left: 0;
      right: 0;

      &.full {
        background-color: theme.$background-main;
      }

      &.translucent {
        pointer-events: none;
        background-color: theme.$background-main-translucent;
        backdrop-filter: blur(7px);
        // backdrop-filter: brightness(0%) blur(7px);
      }
    }

    .scroll-indicator {
      position: absolute;
      height: 50px;
      width: 50px;
      left: calc(50vw - 25px);
      bottom: calc(2 * variables.$layout-vertical-margin - 100vh);
      display: flex;
      justify-content: center;
      align-items: center;
      color: theme.$primary;

      @include utils.nested-parent-state('.layout', '.launch-animation') {
        opacity: 0;
      }

      &.hidden {
        opacity: 0;
      }
    }
  }

  .dates-layout {
    @include center-horizontally;

    height: 50px;
    position: sticky;
    z-index: 3;
    top: calc(variables.$layout-vertical-margin + 50px);
  }

  .list-layout {
    @include center-horizontally;
    position: relative;

    height: var(--list-height, 0px);
  }
}

.settings-button-layout {
  position: fixed;
  z-index: 3;
  right: variables.$universal-margin;
  bottom: calc(100% - 100vh + variables.$universal-margin);

  &.hidden {
    display: none;
  }
}
