@use 'variables';
@use 'theme';

.layout {
  width: 100%;
  height: var(--screen-height, 100vh);
  overflow: clip;
  position: relative;

  &-overflow {
    width: 100%;
    position: absolute;
    // add list margin height for bottom mask to be able to transition
    //  up from occurrence view when list view is 100vh tall
    height: calc(var(--screen-height, 100vh) + var(--screen-offset, 0px) + var(--latched-list-view-margin-height, 0px));
    top: calc(-1 * var(--screen-offset, 0px));
  }

  &-bottom-mask {
    background-color: theme.$background-main;
    width: 100%;
    height: var(--latched-list-view-margin-height, 0px);
    z-index: 2;

    .list-view & {
      position: sticky;
      top: calc(var(--transition-offset, 0px) + 100vh - var(--latched-list-view-margin-height, 0px));
    }

    .occurrence-view & {
      position: absolute;
      top: calc(
        var(--margin-height, 0px)
        + var(--occurrence-row-count, 0) * 50px
        + 50px
        + 100vh - 2 * var(--latched-list-view-margin-height, 0px) - 100px
        + var(--transition-offset, 0px)
      );
    }

    .in-transition & {
      transition: top variables.$layout-transition-duration;
    }
  }

  &-sticky-group {
    z-index: 2;
    width: 100%;
    background-color: theme.$background-main;

    .list-view & {
      position: sticky;
      top: calc(-1 * var(--screen-offset, 0px));
      // have transition offset in height instead of top so mask reaches top of screen
      height: max(
        var(--transition-offset, 0px) + var(--occurrence-row-count, 0) * 50px + 50px,
        var(--transition-offset, 0px) + var(--margin-height, 0px) + 100px
      );
    }

    .occurrence-view & {
      position: absolute;
      top: var(--transition-offset, 0px);
      height: calc(var(--margin-height, 0px) + var(--occurrence-row-count, 0) * 50px + 50px);
    }

    .in-transition & {
      transition: top variables.$layout-transition-duration, height variables.$layout-transition-duration;
    }
  }

  &-scrollbar {
    z-index: 3;
    height: 75px;
    position: fixed;
    right: variables.$horizontal-margin + 18px;
    bottom: variables.$vertical-margin * 2 + 38px;
  }

  &-settings-button {
    z-index: 3;
    position: fixed;
    bottom: variables.$horizontal-margin;
    right: variables.$vertical-margin;
  }

  @mixin centered-component {
    width: 350px;
    left: calc(50vw - 175px);
    position: absolute;
  }

  &-occurrences {
    @include centered-component;

    z-index: 3;
    height: calc(var(--occurrence-row-count, 0) * 50px);
    top: calc(100% - 50px - var(--occurrence-row-count, 0) * 50px);
  }

  &-days {
    @include centered-component;

    z-index: 3;
    height: 50px;
    top: calc(100% - 100px);
  }

  &-dates {
    @include centered-component;

    z-index: 3;
    height: 50px;
    top: calc(100% - 50px);
  }

  &-list {
    @include centered-component;

    z-index: 0;
    height: calc(var(--list-row-count, 0) * 50px);

    .list-view & {
      top: max(
        var(--transition-offset, 0px) + var(--occurrence-row-count, 0) * 50px + 50px,
        var(--transition-offset, 0px) + var(--margin-height, 0px) + 100px
      );
    }

    .occurrence-view & {
      top: calc(
        var(--transition-offset, 0px)
        + var(--margin-height, 0px)
        + var(--occurrence-row-count, 0) * 50px
        + 50px
        + var(--list-offset, 0px)
      );
    }

    .in-transition & {
      transition: top variables.$layout-transition-duration;
    }
  }
}

