@use 'fonts';
@use 'theme';

.list {
  transition: opacity 600ms;

  .being-reordered {
    z-index: 1;

    .move-icon {
      color: theme.$secondary;
    }
  }

  &-item {
    height: 50px;
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: 0;
  }

  &-item,
  &-add-habit-form {
    &:after {
      content: '';
      position: absolute;
      height: 4px;
      width: 4px;
      border-radius: 50%;
      right: calc(350px - var(--left-margin, 0px) + 8px);
      transition: opacity 200ms, right 200ms cubic-bezier(0, .67,.55, 1);
      background-color: theme.$foreground;
      opacity: 0;
    }

    &.selected:after {
      opacity: 1;
    }

    &.complete:after {
      background-color: theme.$secondary;
    }
  }

  &-add-habit-form:after {
    right: calc(350px - var(--left-margin, 0px) + 16px);
  }

  &-item.selected:has(input):after,
  &-item.selected:has(.error):after {
    right: calc(350px - var(--left-margin, 0px) + 16px);
  }

  &-name {
    @include fonts.main-text-font;

    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    color: theme.$foreground;

    &:not(form) {
      margin-left: var(--left-margin, 0px);
    }

    .complete & {
      color: theme.$secondary;
    }
  }

  &-streak {
    @include fonts.main-text-font;

    margin: 0 var(--right-margin, 0px);
    color: theme.$foreground;

    .complete & {
      color: theme.$secondary;
    }
  }

  &-horizontal-icon-container {
    min-width: fit-content;
  }

  &-add-habit-form {
    @include fonts.main-text-font;

    height: 50px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    color: theme.$foreground;

    & .placeholder {
      width: calc(100% - var(--left-margin, 0px) - var(--right-margin, 0px));
      margin-left: var(--left-margin, 0px);
      margin-right: var(--right-margin, 0px);
      color: theme.$secondary;
    }

    input {
      margin-right: calc(var(--right-margin, 0px) - 8px);
    }
  };

  input {
    @include fonts.main-text-font;
    color: theme.$foreground;
    background-color: transparent;
    margin-left: calc(var(--left-margin, 0px) - 8px);
    padding: 0 6px; // taking into account 2px border of active input
    height: 40px;
    width: 100%;

    &::placeholder {
      color: theme.$secondary;
    }
  }

  .error {
    color: theme.$error;
  }
}
