@use 'fonts';
@use 'theme';
@use 'variables';

.modal {
  @include fonts.sub;
  color: theme.$primary;

  z-index: 4;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &.hidden {
    pointer-events: none;
  }

  &-backdrop {
    height: 100%;
    width: 100%;

    transition: background-color 300ms, backdrop-filter 300ms;

    background-color: rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(3px);

    .hidden & {
      background-color: rgba(0, 0, 0, 0);
      backdrop-filter: blur(0);
    }
  }

  &-container {
    position: fixed;
    width: 400px;
    padding: variables.$universal-margin;
    padding-top: 2 * variables.$universal-margin;
    border-radius: variables.$border-radius;
    background-color: theme.$background-modal;

    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);

    transition: transform 100ms, opacity 100ms;

    .hidden & {
      transform: scale(0.95);
      opacity: 0;
    }

    &-header {
      @include fonts.main;

      margin: variables.$vertical-margin-large variables.$universal-margin;

      b {
        @include fonts.main-bold;
      }
    }

    &-subtext {
      color: theme.$secondary;

      margin: variables.$vertical-margin-large variables.$universal-margin;
    }

    &-dialog-button-group {
      display: flex;
      justify-content: flex-end;
      gap: variables.$universal-margin;

      margin-top: variables.$vertical-margin-large;

      button {
        padding: 0 variables.$universal-margin;

        height: variables.$modal-element-height;
        line-height: variables.$modal-element-height;

        border-radius: variables.$border-radius;

        &:last-of-type {
          @include fonts.sub-bold;
        }

        &:disabled {
          color: theme.$tertiary;
        }

        &:not(:disabled) {
          &:hover {
            background-color: theme.$background-active;
          }

          &:active {
            background-color: theme.$background-active-press;
          }
        }

      }
    }

    &-path-input {
      border-radius: variables.$border-radius;

      margin: variables.$vertical-margin-small 0;

      padding: 0 variables.$universal-margin;

      height: variables.$modal-element-height;
      line-height: variables.$modal-element-height;
      width: 100%;

      display: flex;
      align-items: center;
      gap: variables.$universal-margin;
      justify-content: space-between;

      &-path {
        line-height: 38px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-grow: 1;
      }

      &-icon {
        min-width: fit-content;
      }

      &:hover {
        background-color: theme.$background-active;
      }

      &:active {
        background-color: theme.$background-active-press;
      }
    }

    &-select {
      display: flex;
      gap: variables.$universal-margin;

      margin: variables.$vertical-margin-small 0;

      &-option {
        height: variables.$modal-element-height;
        line-height: variables.$modal-element-height;
        min-width: variables.$modal-element-height;

        text-align: center;

        padding: 0 variables.$universal-margin;
        border-radius: variables.$border-radius;

        &:hover {
          background-color: theme.$background-active;
        }

        &:active {
          background-color: theme.$background-active-press;
        }

        &.selected {
          background-color: theme.$background-active-press;
        }
      }
    }

    &-shortcut {
      margin: variables.$vertical-margin-small 0;
      margin-left: variables.$universal-margin;

      display: flex;
      gap: variables.$universal-margin;
      justify-content: space-between;

      line-height: 100%;

      &-name, &-keybinds {
        height: variables.$keybind-size;
        line-height: variables.$keybind-size;
      }

      &-keybinds {
        display: flex;
        gap: variables.$universal-margin;

        color: theme.$secondary;

        text-align: center;

        &-keybind {
          background-color: theme.$background-active;

          border-radius: variables.$border-radius;

          &.single {
            width: variables.$keybind-size;
            text-transform: capitalize;
          }

          &:not(.single) {
            padding: 0 variables.$universal-margin;
            text-transform: lowercase;
          }

          &.pressed {
            background-color: theme.$background-active-press;
          }
        }
      }
    }

    &> :first-child {
      margin-top: 0;
    }

    &> :last-child {
      margin-bottom: 0;
    }
  }
}
