@use 'utils';
@use 'fonts';
@use 'theme';
@use 'variables';

.modal {
  @include fonts.sub;
  color: theme.$primary;

  position: absolute;

  height: fit-content;
  min-height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &.hidden {
    pointer-events: none;
    height: 100vh;
    overflow: hidden;
  }

  .backdrop {
    position: fixed;
    z-index: 4;
    inset: 0px;

    transition: background-color 300ms, backdrop-filter 300ms;

    background-color: theme.$modal-backdrop;
    backdrop-filter: blur(3px);

    @include utils.check-nested-parent-state('.modal', '.hidden') {
      background-color: transparent;
      backdrop-filter: blur(0);
    }
  }

  .container {
    position: relative;
    z-index: 4;

    -webkit-app-region: no-drag;

    .hidden & {
      position: absolute;
    }

    $width: 400px;
    width: $width;
    left: calc(50vw - $width / 2);

    margin: variables.$spacing-xl 0;

    padding: variables.$spacing-m variables.$spacing-s;
    border-radius: variables.$border-radius-s;
    background-color: theme.$background-modal;

    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);

    // transition: transform 100ms, opacity 100ms;

    @include utils.check-nested-parent-state('.modal', '.hidden') {
      // transform: scale(0.95);
      opacity: 0;
    }

    .heading, .subheading, .description, .dialog-button-group {
      height: variables.$block-size-m;
      line-height: variables.$block-size-m;
    }

    .heading {
      @include fonts.main;

      margin: 0 variables.$spacing-s;
      margin-top: variables.$spacing-xl;

      b {
        @include fonts.main-bold;
      }
    }

    .subheading {
      color: theme.$secondary;

      margin: 0 variables.$spacing-s;
      margin-top: variables.$spacing-m;
    }

    .description {
      color: theme.$secondary;

      margin: 0 variables.$spacing-s;
      margin-bottom: variables.$spacing-m;
    }

    .dialog-button-group {
      @include fonts.main;

      margin-top: variables.$spacing-s;

      display: flex;
      justify-content: flex-end;
      gap: variables.$spacing-s;

      button {
        padding: 0 variables.$spacing-s;

        border-radius: variables.$border-radius-s;

        &:last-of-type {
          @include fonts.main-bold;
        }

        &:disabled {
          color: theme.$secondary;
        }

        &:not(:disabled) {
          &:focus {
            background-color: theme.$background-selected-secondary;
          }

          &:hover {
            background-color: theme.$background-selected-secondary;
          }

          &:active:hover {
            background-color: theme.$background-selected;
          }
        }

      }
    }

    .path-input {
      border-radius: variables.$border-radius-s;

      padding: 0 variables.$spacing-s;

      height: variables.$block-size-m;
      line-height: variables.$block-size-m;
      width: 100%;

      display: flex;
      align-items: center;
      gap: variables.$spacing-s;
      justify-content: space-between;

      .path {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-grow: 1;
      }

      .icon {
        min-width: fit-content;
      }

      &:focus {
        background-color: theme.$background-selected-secondary;
      }

      &:hover {
        background-color: theme.$background-selected-secondary;
      }

      &:active:hover {
        background-color: theme.$background-selected;
      }

      &.dialog-open {
        background-color: theme.$background-selected;
        color: theme.$secondary;
      }
    }

    .select-input {
      display: flex;
      gap: variables.$spacing-s;

      .option {
        height: variables.$block-size-m;
        line-height: variables.$block-size-m;
        min-width: variables.$block-size-m;

        text-align: center;

        padding: 0 variables.$spacing-s;
        border-radius: variables.$border-radius-s;

        &:focus {
          background-color: theme.$background-selected-secondary;
        }

        &:hover {
          background-color: theme.$background-selected-secondary;
        }

        &:active:hover {
          background-color: theme.$background-selected;
        }

        &.selected {
          background-color: theme.$background-selected;
        }
      }
    }

    .shortcut {
      height: variables.$block-size-m;

      margin: 0 variables.$spacing-s;

      display: flex;
      gap: variables.$spacing-s;
      align-items: center;

      line-height: 100%;

      .name, .keybinds {
        height: variables.$block-size-s;
        line-height: variables.$block-size-s;
      }

      .line {
        flex-grow: 1;
        padding: 0 variables.$spacing-s;
        background-color: theme.$background-selected;
        height: 1px;
      }

      .keybinds {
        display: flex;
        gap: variables.$spacing-s;

        color: theme.$secondary;

        text-align: center;

        .keybind {
          @include fonts.keybind;

          background-color: theme.$background-selected-secondary;

          border-radius: variables.$border-radius-s;

          &.single {
            width: variables.$block-size-s;
            text-transform: capitalize;
          }

          &:not(.single) {
            padding: 0 variables.$spacing-s;
            text-transform: lowercase;
          }

          &.pressed {
            background-color: theme.$background-selected;
          }
        }
      }
    }

    &> :first-child {
      margin-top: 0;
    }

    &> :last-child {
      margin-bottom: 0;
    }
  }
}
