@use "sass:list";
@use 'variables';
@use 'theme';

.scrollbar {
  $scrollbar-width: 2px;

  margin-left: calc(50vw + 175px + 10px);
  height: 100%;
  position: relative;
  width: $scrollbar-width;

  &-track {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: calc($scrollbar-width / 2);
    background-color: theme.$tertiary;
    opacity: 1;

    transition: opacity 300ms;

    .hidden & {
      opacity: 0;
    }
  }

  &-bar {
    position: absolute;
    width: 100%;
    border-radius: calc($scrollbar-width / 2);
    background-color: theme.$primary;

    transition:
      height 300ms;

    .in-transition & {
      transition:
        height 300ms,
        top 300ms;
    }
  }
}