$background-main: #FCFCFC;
$background-modal: #FCFCFC;
$background-active: #F6F6F6;
$background-active-press: #F2F2F2;
$background-error: #FCEDF0;
$primary: #171717;
$secondary: #909090;
$tertiary: #D0D0D0;
$error: #E02445;

// testing purposes

// $background-main: #ff0000;
// $background-modal: #eeff00;
// $background-active: #1eff00;
// $background-error: #00ffd9;
// $primary: #0091ff;
// $secondary: #7b00ff;
// $tertiary: #b0695f;
// $error: #6f7d37;