$background: #131216;
$modal-background: #1f1e23;
$foreground: #F8F8FB;
$secondary: #656566;
$highlight: #C23131;

$background: #F2F3ED;
$modal-background: #F2F3ED;
$foreground: #0f0f0f;
$secondary: #B3BCBA;
$highlight: #DF6721;