$layout-transition-duration: 600ms;

:root {
  --layout-transition-duration: #{$layout-transition-duration};
}

$universal-margin: 8px;
$border-radius: 6px;
$vertical-margin-section: 40px;
$vertical-margin-large: 18px;
$vertical-margin-small: 8px;
$modal-element-height: 28px;
$keybind-size: 28px;
