$launch-animation-time: 1900ms;
$layout-vertical-margin: 20vh;

:root {
  --launch-animation-time: #{$launch-animation-time};
  --layout-vertical-margin: #{$layout-vertical-margin};
}

$block-size-s: 22px;
$block-size-m: 30px; // careful, this is used for input height -> needs to be larger than font height
$block-size-l: 38px;
$block-size-xl: 50px;

$border-radius-s: 4px;
$border-radius-m: 6px;
$border-radius-l: 10px;
$border-radius-xl: 16px;

$spacing-s: 8px;
$spacing-m: 13px;
$spacing-l: 21px;
$spacing-xl: 34px;
