/**
 *
 * All styling (including margin and spacing) temporary
 * All styling (including margin and spacing) temporary
 * All styling (including margin and spacing) temporary
 * All styling (including margin and spacing) temporary
 * All styling (including margin and spacing) temporary
 * All styling (including margin and spacing) temporary
 *
 */

.habit-removal-confirmation-container {
  width: 350px;
}

.sub-text {
  color: rgb(125, 125, 125);
  font-size: 13px;
  margin-top: 10px;
}

.habit-removal-confirmation-button-container {
  display: flex;
  justify-content: flex-end;
}

button {
  margin-top: 10px;
}

button:last-of-type {
  margin-left: 10px;
}