.actual-margin {
  position: fixed;
  left: 0;
  right: 0;
  background-color: antiquewhite;
  z-index: -2;
}

.max-list-height-indicator {
  position: fixed;
  right: 0;
  width: 20px;
  background-color: deeppink;
  z-index: -1;
}

.desired-margin-indicator {
  position: fixed;
  right: 20px;
  width: 20px;
  background-color: yellowgreen;
  z-index: -1;
}

.layout-container {
  width: 350px;
  margin: 0 auto;
  height: 5000px;
}

.occurrences {
  width: 350px;
  background-color: mediumspringgreen;
}

.days {
  width: 350px;
  height: 50px;
  background-color: mediumseagreen;
}

.dates {
  width: 350px;
  height: 50px;
  background-color: mediumorchid;
}

.habits {
  width: 350px;
  background-color: mediumvioletred;
}