@use 'fonts';
@use 'theme';
@use 'variables';

@mixin launch-animation {
  opacity: 0;
  animation-name: launch-animation;
  animation-duration: variables.$launch-animation-time;
  animation-timing-function: cubic-bezier(.47,.14,.58,.79);
  animation-fill-mode: forwards;
}

.dates {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  .date {
    @include fonts.date;

    width: variables.$block-size-xl;
    line-height: variables.$block-size-xl;
    text-align: center;
    color: theme.$primary;

    &.complete {
      @include fonts.asterisk;

      color: theme.$secondary;
    }

    .launch-animation & {
      @include launch-animation;
    }
  }

  .day-indicator {
    width: variables.$block-size-xl;
    height: variables.$block-size-xl;
    position: absolute;

    &:after {
      content: '';
      position: absolute;
      left: calc(50% - 2px);
      bottom: 7px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: theme.$primary;
    }

    &.complete:after {
      background-color: theme.$secondary;
    }

    .launch-animation &:after {
      display: none;
    }
  }
}